#main{
   background-color:  rgba(42, 42, 46, 1);
   height: 100%;
   overflow-y: auto;
   transition: all 0.5s;
   -webkit-transition: all 0.5s;
   position: fixed;
   left: 0;
   bottom: 0;
   top:55px ;
   /* width: 72px; */
   z-index: 300;
   padding-top: 5px;
   top: 187px;
   display: grid;
  grid-template-columns:  500px;
  grid-template-rows: 0.2fr 3fr 11fr 4fr;
  grid-template-areas: 'sidebar '
                       
                       
  

}
.info > h1 {
    font-size: 2.8rem;
    color: white;
    font-weight: 700;
}

.info > p {
    font-size: 2.5rem;
    color: white;
}
.info > h2{
    font-size: 1.8rem;
    color: grey;
    font-style: italic;
    font-family: Georgia, serif;
}

.info{
    margin-left: 30px;
    margin-top: 20px;
}

.sidebar_list{
    padding: 0;
    list-style-type: none;
  }
  
  .sidebar_list_item{
    padding: 20px 20px 20px 20px;
    font-size: 2.0rem;
    color: white;
    background-color: rgba(74, 74, 79, 1);
    margin-top: 20px;
    
  }
  .a{
    display: flex;
    gap: 13px;

  }
  .icon{
    margin-top: 5px;
  }

  .log{
    color: white;
    font-size:2.0rem;
    padding: 20px 20px 20px 20px;
    display: flex;
    gap: 13px;
    cursor: pointer;
  }

  #mainTwo{
    background-color:  rgba(42, 42, 46, 1);
    height: 100%;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    position: fixed;
    left: 0;
    bottom: 0;
    top:55px ;
    /* width: 72px; */
    z-index: 200;
    padding-top: 5px;
    top: 187px;
    display: grid;
   grid-template-columns:  100px;
   grid-template-rows: 0.2fr 3fr 11fr 4fr;
   grid-template-areas: 'sidebar '
                        
                        
   
 
 }

 .icons{
    margin-top: 5px;
    margin-left: 20px;
  }